{% extends '.\base.html' %}

{% block title %}
  Detalle organización
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <h1>Detalle de la organización {{ center.name }}</h1>

    <div class="dataDiv">
      <form class="details" method="post" action="{% url 'updated-organization' {{ id }} = {{ organization.id }} %}">
        {% csrf_token %}
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" value="{{ organization.name }}" />

        <label for="contact">Contacto:</label>
        <input type="text" id="contact" name="contact" value="{{ organization.contact }}" />

        <label for="phone">Teléfono:</label>
        <input type="text" id="phone" name="phone" value="{{ organization.phone }}" />

        <button type="submit">Actualizar</button>
      </form>
      <form class="form2" method="post" action="{% url 'delete-organization' {{ organization.id }} %}">
        {% csrf_token %}
        <button type="submit">Borrar</button>
      </form>
    </div>
  {% else %}
    <div class="alert">
      <p>Inicia sesión para poder usar la aplicación.</p>
      <a href="{% url 'index' %}">Iniciar sesión</a>
    </div>
  {% endif %}
{% endblock %}
