/*paleta colores*/
$africanViolet: #B47EB3;
$lemonChiffon: #FDF5Bf;
$mimiPink: #FFD5FF;
$tiffanyBlue: #92D1C3;
$cambridgeBlue: #8BB8A8;



body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    main {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {}

        form {
            align-items: center;
            background-color: $tiffanyBlue;
            border: 2px solid $cambridgeBlue;
            border-radius: 15px;
            padding: 20px 20px 20px 20px;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
            font-weight: bold;

            input {
                display: block;
                /* Coloca cada campo de entrada en una línea nueva */
                margin: 10px auto;
                /* Espaciado entre campos y centrado horizontalmente */
            }

            button {
                border: none;
                display: block;
                margin: 0 auto;
                background-color: $africanViolet;
                border-radius: 15px;
                color: $lemonChiffon;
                font-size: 1.2em;
                padding: 10px;
                cursor: pointer;
                transition: transform 0.2s ease-in-out;

                &:hover {
                    color: $mimiPink;
                    transform: scale(1.1); // Aumenta el tamaño del botón 
                }

            }
        }

        .dataDiv {
            display: flex;
            flex-direction: column;
            background-color: $tiffanyBlue;
            padding: 2% 5%;
            border-radius: 15px;
            color: #000;
            border: 2px solid $cambridgeBlue;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            transition: transform 0.2s ease-in-out;

            button {
                border: none;
                width: 250px;
                margin: 2%;
                padding: 10px 15px;
                background-color: $africanViolet;
                border-radius: 15px;
                color: $lemonChiffon;
                ;
                font-size: 1.2em;

                &:hover {
                    color: $mimiPink;
                    transform: scale(1.1); 
                }
            }
        }
    }

    .alert {
        background-color: $africanViolet;
        border-radius: 15px;
        color: $lemonChiffon;
        ;
        font-size: 1.2em;
        padding: 20px;
        margin: 1% 0% 1% 3%;
        text-align: center;
        width: 90%;
        justify-content: center;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    }

    nav {
        background-color: $africanViolet;
        border-radius: 15px;
        font-size: 1.2em;
        padding: 10px 10px 10px 10px;
        margin: 1% 0% 1% 4%;
        text-align: center;
        justify-content: center;
        width: 90%;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);

        ul {
            list-style-type: none;
            padding: 10px 5px 10px 5px;
            margin: 0;
            text-align: right;
        }

        li {
            display: inline;
            /* Para que los elementos se muestren en línea */
            margin-right: 20px;
            /* Espacio entre elementos */
        }

        a {
            text-decoration: none;
            color: $lemonChiffon;
            font-weight: bold;

            &:hover {
                color: $mimiPink;
            }
        }

    }
}