{% load static %}
<!DOCTYPE html>
<html lang='es'>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-COmpatible" content="IE=edge">
		<meta name="viewpoint" content="width=device-with, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'style.css' %}">
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		{% if user.is_authenticated %}
		<nav>
			<ul>
				<li><a onclick="goBack()">Volver</a></li>
				<li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
            </ul>
		</nav>
		{% else %}
		<div class="alert"><p>Inicia sesión para poder usar la aplicación.</p>
		<a href="{% url 'index' %}">Iniciar sesión</a>
		</div>
		{% endif %}
		<main>
            {% block content %}
      
            {% endblock %}
          </main>
		
<script type="text/javascript">
	function goBack() {
        window.history.back();
    }
</script>
<script type="module">
	// Import the functions you need from the SDKs you need
	import { initializeApp } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-app.js";
	import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-analytics.js";
	// TODO: Add SDKs for Firebase products that you want to use
	// https://firebase.google.com/docs/web/setup#available-libraries
  
	// Your web app's Firebase configuration
	// For Firebase JS SDK v7.20.0 and later, measurementId is optional
	const firebaseConfig = {
	  apiKey: "AIzaSyC7zxrRAQd1BPZCgg830GuGBt3VE7GbFwM",
	  authDomain: "prueba-tecnica-8f979.firebaseapp.com",
	  projectId: "prueba-tecnica-8f979",
	  storageBucket: "prueba-tecnica-8f979.appspot.com",
	  messagingSenderId: "531248970196",
	  appId: "1:531248970196:web:6cb4f61f20ffc43ac3fe41",
	  measurementId: "G-XX4BW9CZVK"
	};
  
	// Initialize Firebase
	const app = initializeApp(firebaseConfig);
	const analytics = getAnalytics(app);
  </script>
	</body>
</html>