{% extends '.\base.html' %}

{% block title %} Mostrar datos {% endblock %}

{% block content %} 
{% if user.is_authenticated %}
<h1>Organizaciones</h1>
<p>Haga click en el nombre para ver detalles.</p>
<div class="dataDiv">
 {% for organization in organizations %}
 <a href="{% url 'detail-organization' id=organization.id %}"><button>{{ organization.name }}</button></a>
 {% endfor %}
 <a href="{% url 'add-organization' %}">
    <button type="button" class="badd">Añadir organización</button>
</a>
</div>
{% endif %}
{% endblock %}