{% extends '.\base.html' %}

{% block title %}
  Actualizado centro
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="dataDiv">
      <p>Centro actualizado</p>
      <p>Nombre: {{ center.name }}</p>
      <p>Stories: {{ center.stories }}</p>
      <p>newOrganization: {{ newOrganization }}</p>
    </div>
  {% else %}
    <div class="alert">
      <p>Inicia sesión para poder usar la aplicación.</p>
      <a href="{% url 'index' %}">Iniciar sesión</a>
    </div>
  {% endif %}
{% endblock %}
